<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
<link href='/node_modules/@fullcalendar/core/main.css' rel='stylesheet' />
<link href='/node_modules/@fullcalendar/daygrid/main.css' rel='stylesheet' />
<link href='/node_modules/@fullcalendar/timegrid/main.css' rel='stylesheet' />
<link href='/node_modules/fullcalendar/dist/fullcalendar.min.css' rel='stylesheet' />

<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <div class="example-loading-shade"
      *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Consulta</h2></mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center center" class="container">
      <div fxLayout="row" fxFlex="40">
            <dl>
              <dt><h2>{{paciente.nome}}</h2></dt>
              <dt>Paciente:</dt>
              <dd>{{paciente.nome}}</dd>
              <dt>Email:</dt>
              <dd>{{paciente.email}}</dd>
              <dt>Telefone:</dt>
              <dd>{{paciente.telefone}}</dd>
            </dl>
      </div>

      <div fxLayout="row" fxFlex="30" fxFlexAlign="center">
          
          <p-autoComplete [(ngModel)]="selectedProfissional" 
                          [suggestions]="filteredProfissionais" 
                          (completeMethod)="filterProfissionais($event)"
                          [size]="30"
                          [minLength]="1" 
                          placeholder="Digite o nome do médico" 
                          [dropdown]="true"
                          field="value"
                          (onSelect)="getConsultas($event)">
              <ng-template let-profissional pTemplate="item">
                  <div class="ui-helper-clearfix">
                      <div>{{profissional.value}}</div>
                  </div>
              </ng-template>
          </p-autoComplete>
      </div>
      <div fxLayout="row" fxFlex="30" fxFlexAlign="center">
          
        <p-autoComplete [(ngModel)]="plano" 
                        [suggestions]="filteredPlanos" 
                        (completeMethod)="filterPlanos($event)"
                        [size]="30"
                        [minLength]="1" 
                        placeholder="Digite o nome do plano de saúde" 
                        [dropdown]="true"
                        field="nome">
            <ng-template let-plano pTemplate="item">
                <div class="ui-helper-clearfix">
                    <div>{{plano.nome}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    </div>
    <div fxLayout="column"  fxFlexAlign="center">
      <p-confirmDialog [style]="{width: '60vw'}"
        [appendTo]="'body'"
        [styleClass]="'modal-dialog'"
        [draggable]="true"
        [closeOnEscape]="true"></p-confirmDialog>  
      <p-messages [value]="msgs"></p-messages>
      <p-fullCalendar #fc 
          [events]="events" 
          [options]="options"
          >
      </p-fullCalendar>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- <a mat-flat-button color="primary" (click)="saveConsulta()"><mat-icon>save</mat-icon></a> -->
    <!-- <a mat-flat-button color="warn" (click)="deleteUsuario(usuario.idUsuario)"><mat-icon>delete</mat-icon></a> -->
  </mat-card-actions>
</mat-card>
</div>

