<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Clínica</h1>
    <span class="menu-spacer"></span>
    <div>
      <a *ngIf="!isAuthenticated()" mat-button [routerLink]="''"> Entrar </a>
      <a *ngIf="isAuthenticated()" mat-button [routerLink]="'/consulta-lista'"> Consulta </a>
      <a *ngIf="isAuthenticated()" mat-button [routerLink]="'/paciente-lista'"> Paciente </a>
      <a *ngIf="isAuthenticated()" mat-button [routerLink]="'/usuario-lista'"> Usuário </a>
      <a *ngIf="isAuthenticated()" mat-button (click)="logout()"> Sair </a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span *ngIf="isAuthenticated()" style="font-size: 12px;" >Bem vindo, {{ usuarioLogado.nome }}!</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a *ngIf="!isAuthenticated()" mat-list-item [routerLink]="''" (click)="sidenav.toggle()"> Entrar </a>
      <div *ngIf="isAuthenticated()">
        <a mat-list-item [routerLink]="'/consulta-lista'" (click)="sidenav.toggle()"> Consulta </a>
        <a mat-list-item [routerLink]="'/paciente-lista'" (click)="sidenav.toggle()"> Paciente </a>
        <a mat-list-item [routerLink]="'/usuario-lista'" (click)="sidenav.toggle()"> Usuário </a>
        <a mat-list-item [routerLink]="''" (click)="sidenav.toggle()"> Sair </a>
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Fechar</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div class="container">
  <app-menu></app-menu>
</div>
 <div class="container">
  <nav>
  <a routerLink="/usuario-lista" routerLinkActive="active">Listar Usuários</a>
  <a routerLink="/usuario-novo" routerLinkActive="active">Incluir Usuário</a>
  </nav>
  <router-outlet></router-outlet>
</div> -->