<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/usuario-lista']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="usuarioForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome do Usuário" formControlName="nome"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!usuarioForm.get('nome').valid && usuarioForm.get('nome').touched">Informe o nome do usuário</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!usuarioForm.get('email').valid && usuarioForm.get('email').touched">Informe o email do usuário</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Telefone" formControlName="telefone"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!usuarioForm.get('telefone').valid && usuarioForm.get('telefone').touched">Informe o telefone do usuário</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Tipo de Usuário</mat-label>
            <mat-select formControlName="tipoUsuario"
                   [errorStateMatcher]="matcher"
                   [(value)]="tipoUsuario">
                   <mat-option *ngFor="let tipoUsuario of tipoUsuarios" [value]="tipoUsuario.value">
                      {{tipoUsuario.viewValue}}
                    </mat-option>
            </mat-select>
            <mat-error>
              <span *ngIf="!usuarioForm.get('tipoUsuario').valid && usuarioForm.get('tipoUsuario').touched">Informe o tipo do usuário</span>
            </mat-error>
          </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Senha" formControlName="senha"
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!usuarioForm.get('senha').valid && usuarioForm.get('senha').touched">Informe a senha do usuário</span>
            </mat-error>
          </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!usuarioForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>